body{
    
    background: #fff;
     margin-left: 0;
    margin-right: 0;
    margin-top: 0;

}
.login{
    position: relative;
    margin: 0;
    
    width: 100%;
    margin: non;
    
    padding-top: 0%;
    background-color:#ebebeb ;
    border-style: solid;
    border-width: 02px;
    border-color: #49484881;
    

   
}
.login-hedar{
   
    background: #024999;
    color: #ebebeb;
    text-align: center;
    padding: 14px;
    font-weight: normal;
    margin: 0;
    margin-left: 0;
    margin-right: 0;

}
form{
    width: 93%;
    margin: 0;
    background: #ebebeb;
    padding: 15px;


}
form p{
    padding: 10px;
    margin: 0;
}
form input{

    margin: 0;
    width: 95%;
    left: 5;
    display: block;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
form input[type="submit"]{
    background: #000;
    color: #fff;
    font-size: 95em;
}

.logiin{
    position: absolute;

    width: 30%;
    height: 37px;
    background: #024999;
    border: none;
    outline: none;
    color: #fff;
    margin: 0;
    border-radius: 5px;
    
    


}

.login-heda{
    width: 99%;
    height: 120px;
    border-style: solid;
    border-width: 02px;
    background-color: #ec999944;
    border-color: #dc675c;
   
    
  

}

p1{
    position: relative;
    top: 8px;
    left: 120px;
    cursor: pointer;
    color: #090909;
    
    font-size:large;

}
p2{
    position: relative;
    top: 4px;
    left:48px;
    color: #090909;
    text-align:left;
    font-size: 11px;

}
p0{
    position: relative;
    top: 5px;
    left: 80px;
    color: #090909;
    text-align: right;
    font-size: x-large;

}
p3{
    position: relative;
    top: 2px;
    left: 110px;
    color: #090909;
    text-align:left;
    font-size: 11px;

}




